// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$darker-blue: #060637;
$dark-blue: #1D1D49;
$clear-blue: #32325A;
$light-grey: #F5F5F5;
$clear-brown: #C58C6D;
$light-beige: #FFF1E6;
$light-gray: #F5F5F5;
$clear-brown: #C58C6D;

