<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/world_world_animal/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon Lille
  </div>
</div>
