<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
          url('https://images.unsplash.com/photo-1615812214207-34e3be6812df?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');">
  <div class="container">
    <h1>Want to rent a
      <span id="banner-typed-text"></span>

    </h1>
    <p>Live amazing experience and raise an animal for a limited period !</p>
    <br>
    <% if user_signed_in? %>
      <%= link_to "Find an Animal", animals_path, class:"btn-signup-form" %>
    <% else %>
      <%= link_to "Create your Account", new_user_registration_path, class:"btn-signup-form" %>
    <% end %>
  </div>
</div>

<div class="homepage-grid">

  <div class="card-homepage">
    <img src="https://images.unsplash.com/photo-1615553679118-402dcd54ad71?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80" />
    <div class="card-homepage-infos">
      <h2>A very large offer</h2>
      <p>We gather a large <strong>diversity</strong> of animals with many categories.</p>
    </div>
  </div>

  <div class="card-homepage">
    <img src="https://images.unsplash.com/photo-1589656966895-2f33e7653819?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fGFuaW1hbHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
    <div class="card-homepage-infos">
      <h2>A wonderful community</h2>
      <p>We are the <strong>biggest community of animal lovers</strong> all around the world.</p>
    </div>
  </div>

  <div class="card-homepage">
    <img src="https://images.unsplash.com/photo-1414445092210-ee1a2da44ad7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=747&q=80" />
    <div class="card-homepage-infos">
      <h2>Respect for animals </h2>
      <p>We are committed to <strong>ensuring full respect</strong> for the lives of animals</p>
    </div>
  </div>
</div>



