<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'background-image.jpeg' %> );">
  <div class="container">
    <h1>RentAnimals connects <strong>adorable pets</strong> to <strong>dedicated people</strong>.</h1>
    <p>Change your life and raise an animal for a limited period !</p>
    <a class="btn btn-primary" href="#">Create your account</a>
  </div>
</div>


