$shadow: .3rem .3rem .6rem var(--greyLight-2), -.2rem -.2rem .5rem var(--white);
$inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2), inset -.2rem -.2rem .5rem var(--white);


.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-devise-form {
  width: 100%
}

.btn-signup-form {
  border: 4px solid white;
  text-align:center;
  font-size: 16px;
  border-radius: 38px;
  color: white !important;
  padding: 15px 32px;
  width: 100%;
  opacity: 0.8;
  width: 100%;
}
.btn-signup-form:hover {
  opacity: 1;
  text-decoration: none;
  color:white !important;
}

// .btn-search {
//   background-color: $clear-brown;
//   border-radius: 50%;
//   color: $light-beige;
//   font-weight: lighter;
//   opacity: 0.8;
// }
// .btn-search:hover {
//   opacity: 1;
//   text-decoration: none;
//   color:$light-beige !important;
//   font-weight: bold;

// }


