.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-devise-form {
  width: 100%
}

.btn-signup-form {
  border: 4px solid white;
  text-align:center;
  font-size: 16px;
  border-radius: 38px;
  color: white !important;
  padding: 15px 32px;
  width: 100%;
  opacity: 0.8;
  width: 100%;
}
.btn-signup-form:hover {
  opacity: 1;
  text-decoration: none;
  color:white !important;
}

.btn-ghost-green {
  color: green;
  border: 1px solid green;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost-green:hover {
  opacity: 1;
}

.btn-ghost-red {
  color: red;
  border: 1px solid red;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost-red:hover {
  opacity: 1;
}

.btn-accepted {
  position: absolute;
  margin-left: 10px;
  margin-bottom: 340px;
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
  background: green;
  opacity: 0.7;
}

.btn-declined {
  position: absolute;
  margin-left: 10px;
  margin-bottom: 340px;
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
  background: red;
  opacity: 0.7;
}

.btn-pending {
  position: absolute;
  margin-left: 10px;
  margin-bottom: 340px;
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
  background: orange;
  opacity: 0.7;
}



