#map {
  border-radius: 2px;
  height: 80%;
  position: sticky;
  top: 0;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  padding: 0 !important;
  text-align: center;
  font-family: 'Mulish', sans-serif;
}
