// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  background: $light-grey;
}

body h1, h2, h3, p, a {
  font-family: 'Mulish', sans-serif;
}

a {
  text-decoration: none !important;
  color: $clear-blue !important;
  &:hover {
    color: $darker-blue !important;
  }
}

.pages-title {
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  color:$darker-blue;
}

.search-bar-position {
  text-align: left;
  padding: 20px;
  color:$darker-blue;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#page-container {
  margin-top:66px;
}

.main-container {
  display: flex;
}


.no-result-text {
  color: $clear-brown;
  margin-left: 4px;
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  text-align: left;
  padding-left: 24px;
}

.price {
  background-color: $clear-brown;
  padding: 4px;
  border-radius: 4px;
  color: $light-grey;
  font-weight:bold;
}

