// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

$darker-blue: #060637;
$dark-blue: #1D1D49;
$clear-blue: #32325A;
$light-grey: #F5F5F5;
$clear-brown: #C58C6D;
$light-beige: #FFF1E6;

body {
  background: $light-grey;
}

body h1, h2, h3, p, a {
  font-family: 'Mulish', sans-serif;
}
